{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% asset 'xamin/xamin-css' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% include 'snippets/cursor.html' %} 

{% block scripts %}
    {{ super() }}
    {% asset 'xamin/magic-cursor' %}
    {% asset "xamin/xamin-scripts" %}
{% endblock %}
